* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

.container__contacts .contacts__title, .blog__cards .blog__title, .container__testimonials .testimonials__title, .container__clients .clients__title, .container__portfolio .portfolio__title .portfolio__title-left, .container__services .services__title {
  display: flex;
  flex-direction: column;
}
.container__contacts .contacts__title :first-child, .blog__cards .blog__title :first-child, .container__testimonials .testimonials__title :first-child, .container__clients .clients__title :first-child, .container__portfolio .portfolio__title .portfolio__title-left :first-child, .container__services .services__title :first-child {
  padding-bottom: 10px;
}
.container__contacts .contacts__title :nth-child(2), .blog__cards .blog__title :nth-child(2), .container__testimonials .testimonials__title :nth-child(2), .container__clients .clients__title :nth-child(2), .container__portfolio .portfolio__title .portfolio__title-left :nth-child(2), .container__services .services__title :nth-child(2) {
  padding-bottom: 15px;
}
.container__contacts .contacts__title .nav__title, .blog__cards .blog__title .nav__title, .container__testimonials .testimonials__title .nav__title, .container__clients .clients__title .nav__title, .container__portfolio .portfolio__title .portfolio__title-left .nav__title, .container__services .services__title .nav__title {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #8643dc;
}
@media (max-width: 767px) {
  .container__contacts .contacts__title .nav__title, .blog__cards .blog__title .nav__title, .container__testimonials .testimonials__title .nav__title, .container__clients .clients__title .nav__title, .container__portfolio .portfolio__title .portfolio__title-left .nav__title, .container__services .services__title .nav__title {
    font-size: calc(14px + 6.8 * ((100vw - 320px) / 1140));
  }
}
@media (min-width: 767px) {
  .container__contacts .contacts__title .nav__title, .blog__cards .blog__title .nav__title, .container__testimonials .testimonials__title .nav__title, .container__clients .clients__title .nav__title, .container__portfolio .portfolio__title .portfolio__title-left .nav__title, .container__services .services__title .nav__title {
    font-size: calc(14px + 4 * ((100vw) / 1140));
  }
}
.container__contacts .contacts__title .nav__subtitle, .blog__cards .blog__title .nav__subtitle, .container__testimonials .testimonials__title .nav__subtitle, .container__clients .clients__title .nav__subtitle, .container__portfolio .portfolio__title .portfolio__title-left .nav__subtitle, .container__services .services__title .nav__subtitle {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  color: #25202f;
}
@media (max-width: 767px) {
  .container__contacts .contacts__title .nav__subtitle, .blog__cards .blog__title .nav__subtitle, .container__testimonials .testimonials__title .nav__subtitle, .container__clients .clients__title .nav__subtitle, .container__portfolio .portfolio__title .portfolio__title-left .nav__subtitle, .container__services .services__title .nav__subtitle {
    font-size: calc(25px + 15.3 * ((100vw - 320px) / 1140));
  }
}
@media (min-width: 767px) {
  .container__contacts .contacts__title .nav__subtitle, .blog__cards .blog__title .nav__subtitle, .container__testimonials .testimonials__title .nav__subtitle, .container__clients .clients__title .nav__subtitle, .container__portfolio .portfolio__title .portfolio__title-left .nav__subtitle, .container__services .services__title .nav__subtitle {
    font-size: calc(25px + 9 * ((100vw) / 1140));
  }
}

.container__contacts .contacts__message .contacts__send button, .container__hero .hero__info .button a {
  padding: 14px 50px;
  background: #8643dc;
  border-radius: 100px;
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  color: #ffffff;
}
@media (max-width: 767px) {
  .container__contacts .contacts__message .contacts__send button, .container__hero .hero__info .button a {
    font-size: calc(21px + 5.1 * ((100vw - 320px) / 1140));
  }
}
@media (min-width: 767px) {
  .container__contacts .contacts__message .contacts__send button, .container__hero .hero__info .button a {
    font-size: calc(21px + 3 * ((100vw) / 1140));
  }
}

body {
  @import url(https://fonts.googleapis.com/css?family=Red+Hat+Display:300,regular,500,600,700,800,900,300italic,italic,500italic,600italic,700italic,800italic,900italic);
  @import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
  font-family: "", serif;
  font-weight: 400;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #fff;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7vh 0;
}
.header .nav .nav__left {
  display: flex;
}
.header .nav .nav__left .logo {
  padding-right: 100px;
}
.header .nav .nav__left .nav__links {
  align-items: center;
  display: flex;
  gap: 35px;
}
.header .nav .nav__left .nav__links a {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  color: #7e7f86;
  transition: 0.3s;
}
@media (max-width: 767px) {
  .header .nav .nav__left .nav__links a {
    font-size: calc(18px + 3.4 * ((100vw - 320px) / 1140));
  }
}
@media (min-width: 767px) {
  .header .nav .nav__left .nav__links a {
    font-size: calc(18px + 2 * ((100vw) / 1140));
  }
}
.header .nav .nav__left .nav__links a:hover {
  color: #000;
}
.header .nav .burger {
  --offset-horziontal: 23.5px;
  --offset-vertical: 30.2px;
  position: relative;
  padding: var(--offset-vertical) var(--offset);
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background-color: #fff;
  box-shadow: 0px 20px 50px rgba(198, 185, 233, 0.3);
}
.header .nav .burger .burger__line {
  position: absolute;
  top: var(--offset-vertical);
  left: 50%;
  display: inline-block;
  width: calc(100% - var(--offset-horziontal) * 2);
  height: 2px;
  background-color: #25202f;
  transform: translateX(-50%);
  border-radius: 11%;
}
.header .nav .burger .burger__line:nth-child(2) {
  top: calc(var(--offset-vertical) + 5.5px);
}
.header .nav .burger .burger__line:nth-child(3) {
  top: calc(var(--offset-vertical) + 11px);
}

.container__hero {
  display: flex;
  position: relative;
  padding: 7vh 0 18vh 0;
}
.container__hero .hero__info .hero__info-text {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 700;
  line-height: 72px;
  padding-bottom: 54px;
  color: #25202f;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.container__hero .hero__info .hero__info-text h3 {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  color: #666666;
}
@media (max-width: 767px) {
  .container__hero .hero__info .hero__info-text h3 {
    font-size: calc(22px + 3.4 * ((100vw - 320px) / 1140));
  }
}
@media (min-width: 767px) {
  .container__hero .hero__info .hero__info-text h3 {
    font-size: calc(22px + 2 * ((100vw) / 1140));
  }
}
.container__hero .hero__info .hero__info-text :last-child {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  color: #25202f;
}
@media (max-width: 767px) {
  .container__hero .hero__info .hero__info-text :last-child {
    font-size: calc(18px + 5.1 * ((100vw - 320px) / 1140));
  }
}
@media (min-width: 767px) {
  .container__hero .hero__info .hero__info-text :last-child {
    font-size: calc(18px + 3 * ((100vw) / 1140));
  }
}
@media (max-width: 767px) {
  .container__hero .hero__info .hero__info-text h1 {
    font-size: calc(35px + 42.5 * ((100vw - 320px) / 1140));
  }
}
@media (min-width: 767px) {
  .container__hero .hero__info .hero__info-text h1 {
    font-size: calc(35px + 25 * ((100vw) / 1140));
  }
}
.container__hero .hero__info .button a {
  transition: 0.3s;
}
.container__hero .hero__info .button a:hover {
  background-color: rgb(201, 70, 222);
}
.container__hero .hero__info .popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5137254902);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 10;
  transition: all 0.8s ease 0s;
}
.container__hero .hero__info .popup .popup__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.container__hero .hero__info .popup .popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}
.container__hero .hero__info .popup .popup__body .popup__content {
  background-color: #fff;
  max-width: 800px;
  padding: 7vh 5vw 6vh 3vw;
  position: relative;
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  border-radius: 25px;
  color: #21232d;
}
@media (max-width: 767px) {
  .container__hero .hero__info .popup .popup__body .popup__content {
    font-size: calc(32px + 23.8 * ((100vw - 320px) / 1140));
  }
}
@media (min-width: 767px) {
  .container__hero .hero__info .popup .popup__body .popup__content {
    font-size: calc(32px + 14 * ((100vw) / 1140));
  }
}
.container__hero .hero__info .popup .popup__body .popup__content .popup__close {
  position: absolute;
  right: 25px;
  top: 15px;
  color: #000;
  text-decoration: none;
  line-height: 18px;
}
@media (max-width: 767px) {
  .container__hero .hero__info .popup .popup__body .popup__content .popup__close {
    font-size: calc(16px + 6.8 * ((100vw - 320px) / 1140));
  }
}
@media (min-width: 767px) {
  .container__hero .hero__info .popup .popup__body .popup__content .popup__close {
    font-size: calc(16px + 4 * ((100vw) / 1140));
  }
}
.container__hero .hero__info .popup .popup__body .popup__content .popup__title {
  margin: 0px 0px 1em 0px;
  padding-bottom: 25px;
}
@media (max-width: 767px) {
  .container__hero .hero__info .popup .popup__body .popup__content .popup__title {
    font-size: calc(30px + 17 * ((100vw - 320px) / 1140));
  }
}
@media (min-width: 767px) {
  .container__hero .hero__info .popup .popup__body .popup__content .popup__title {
    font-size: calc(30px + 10 * ((100vw) / 1140));
  }
}
.container__hero .hero__info .popup .popup__body .popup__content .popup__nets {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  align-items: stretch;
}
.container__hero .hero__info .popup .popup__body .popup__content .popup__nets a {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  color: #a8a0b0;
  transition: 0.3s;
}
@media (max-width: 767px) {
  .container__hero .hero__info .popup .popup__body .popup__content .popup__nets a {
    font-size: calc(16px + 6.8 * ((100vw - 320px) / 1140));
  }
}
@media (min-width: 767px) {
  .container__hero .hero__info .popup .popup__body .popup__content .popup__nets a {
    font-size: calc(16px + 4 * ((100vw) / 1140));
  }
}
.container__hero .hero__info .popup .popup__body .popup__content .popup__nets a:hover {
  color: #000;
}
.container__hero .hero__info .popup .popup__body .popup__content .popup__nets .vk,
.container__hero .hero__info .popup .popup__body .popup__content .popup__nets .inst,
.container__hero .hero__info .popup .popup__body .popup__content .popup__nets .tg {
  transition: 0.3s;
}
.container__hero .hero__info .popup .popup__body .popup__content .popup__nets .vk:hover,
.container__hero .hero__info .popup .popup__body .popup__content .popup__nets .inst:hover,
.container__hero .hero__info .popup .popup__body .popup__content .popup__nets .tg:hover {
  transform: scale(1.05);
}
.container__hero .hero__info .popup:target {
  opacity: 1;
  visibility: visible;
}
.container__hero .hero__photo :first-child {
  height: auto;
  position: absolute;
  right: 0;
  top: -135px;
  z-index: -1;
}
.container__hero .hero__photo img:nth-child(2) {
  position: absolute;
  top: 90px;
  right: -15px;
}
.container__hero .hero__photo img:nth-child(3) {
  position: absolute;
  right: 550px;
  top: 0;
}
.container__hero .hero__photo img:nth-child(4) {
  position: absolute;
  top: -150px;
  right: 150px;
}
.container__hero .hero__photo img:nth-child(5) {
  position: absolute;
  top: 575px;
  right: 400px;
}
.container__hero .hero__photo img:nth-child(6) {
  position: absolute;
  top: 20px;
  right: 10px;
}
.container__hero .hero__photo img:nth-child(7) {
  position: absolute;
  top: 275px;
  right: -35px;
}
.container__hero .hero__photo img:nth-child(8) {
  position: absolute;
  top: 325px;
  right: 525px;
}
.container__hero .hero__photo img:nth-child(9) {
  position: absolute;
  top: 475px;
  right: -75px;
}
.container__hero .hero__photo img:nth-child(10) {
  position: absolute;
  top: 130px;
  right: -125px;
}
.container__hero .hero__photo img:nth-child(11) {
  position: absolute;
  top: 10px;
  right: -155px;
}
.container__hero .hero__photo img:nth-child(12) {
  position: absolute;
  top: -150px;
  right: -125px;
  z-index: -2;
}

.container__services {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 18vh 0 11.5vh 0;
}
.container__services .services__title img {
  width: 50px;
}
.container__services .services__cards {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 30px;
}
.container__services .services__cards span {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  color: #25202f;
}
@media (max-width: 767px) {
  .container__services .services__cards span {
    font-size: calc(18px + 10.2 * ((100vw - 320px) / 1140));
  }
}
@media (min-width: 767px) {
  .container__services .services__cards span {
    font-size: calc(18px + 6 * ((100vw) / 1140));
  }
}
.container__services .services__cards p {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  color: #47444e;
}
@media (max-width: 767px) {
  .container__services .services__cards p {
    font-size: calc(12px + 6.8 * ((100vw - 320px) / 1140));
  }
}
@media (min-width: 767px) {
  .container__services .services__cards p {
    font-size: calc(12px + 4 * ((100vw) / 1140));
  }
}
.container__services .services__cards .card__title {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 21px;
}
.container__services .services__cards img {
  max-width: 100%;
}

.container__portfolio {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 11.5vh 0;
}
.container__portfolio .portfolio__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container__portfolio .portfolio__title .portfolio__title-left img {
  width: 50px;
}
.container__portfolio .portfolio__title .portfolio__title-right {
  display: flex;
  gap: 13px;
  align-items: center;
}
.container__portfolio .portfolio__title .portfolio__title-right span {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 500;
  flex-wrap: wrap;
  line-height: 32px;
  text-decoration: none;
  border-bottom: 2.5px #000 solid;
  color: #25202f;
}
@media (max-width: 767px) {
  .container__portfolio .portfolio__title .portfolio__title-right span {
    font-size: calc(19px + 8.5 * ((100vw - 320px) / 1140));
  }
}
@media (min-width: 767px) {
  .container__portfolio .portfolio__title .portfolio__title-right span {
    font-size: calc(19px + 5 * ((100vw) / 1140));
  }
}
.container__portfolio .portfolio__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.container__portfolio .portfolio__cards img {
  max-width: 540px;
  min-width: 340px;
  height: auto;
  filter: drop-shadow(0px 20px 50px rgba(220, 192, 255, 0.45));
  border-radius: 10px;
}

.container__clients {
  display: flex;
  flex-direction: column;
  gap: 44px;
  padding: 11.5vh 0;
}
.container__clients .clients__title img {
  width: 40px;
}
.container__clients .clients__cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}
.container__clients .clients__cards .client__card {
  height: 170px;
  width: 170px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.container__clients .clients__cards .client__card a {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  color: #000000;
}
@media (max-width: 767px) {
  .container__clients .clients__cards .client__card a {
    font-size: calc(15px + 5.1 * ((100vw - 320px) / 1140));
  }
}
@media (min-width: 767px) {
  .container__clients .clients__cards .client__card a {
    font-size: calc(15px + 3 * ((100vw) / 1140));
  }
}
.container__clients .clients__cards .client__card img {
  transition: 0.3s;
  max-width: 100%;
}
.container__clients .clients__cards .client__card img:hover {
  transform: scale(1.1);
}
.container__clients .clients__cards .client__card-sass {
  background-color: #fff7fa;
  border: 1px solid #ffe7f0;
  border-radius: 10px;
  filter: drop-shadow(-2px 7px 25px rgba(232, 77, 134, 0.15));
}
.container__clients .clients__cards .client__card-css {
  background: #edffff;
  border: 1px solid #d9f6ff;
  border-radius: 10px;
  filter: drop-shadow(-2px 7px 25px rgba(151, 241, 255, 0.555));
}
.container__clients .clients__cards .client__card-bootstrap {
  background: #f8f7ff;
  border: 1px solid #ede4ff;
  border-radius: 10px;
  filter: drop-shadow(-2px 7px 25px rgba(196, 190, 255, 0.555));
}
.container__clients .clients__cards .client__card-html {
  background: #fffbf3;
  border: 1px solid #ffe8e8;
  border-radius: 10px;
  filter: drop-shadow(-2px 7px 25px rgba(255, 229, 215, 0.555));
}
.container__clients .clients__cards .client__card-js {
  background: #fdfef0;
  border: 1px solid #fff4cc;
  border-radius: 10px;
  filter: drop-shadow(-2px 7px 25px rgba(255, 249, 213, 0.555));
}

.container__testimonials {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 11.5vh 0 7vh 0;
}
.container__testimonials .testimonials__title img {
  width: 40px;
}
.container__testimonials .test {
  display: flex;
}
.container__testimonials .test .test__left {
  max-width: 265px;
  position: relative;
  width: 100%;
}
.container__testimonials .test .test__left img {
  max-width: 70px;
  max-height: 70px;
}
.container__testimonials .test .test__left :first-child {
  position: absolute;
  top: 90px;
  left: 0;
}
.container__testimonials .test .test__left :last-child {
  position: absolute;
  right: 0;
  bottom: 80px;
}
.container__testimonials .test .test__right {
  min-width: 265px;
  max-width: 176px;
  position: relative;
  width: 100%;
}
.container__testimonials .test .test__right :first-child {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 90px;
  right: 0;
}
.container__testimonials .test .test__right :last-child {
  width: 70px;
  height: 70px;
  position: absolute;
  left: 0;
  bottom: 80px;
}
.container__testimonials .test .test__center {
  max-width: 570px;
}
.container__testimonials .test .test__center .quotes {
  display: block;
  margin: 0 auto;
}
.container__testimonials .test .test__center .testimonials__review {
  padding-bottom: 46px;
}
.container__testimonials .test .test__center .testimonials__review .test__slide {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.container__testimonials .test .test__center .testimonials__review .test__slide p {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  text-align: center;
  color: #636066;
  padding: 25px 0 50px 0;
}
@media (max-width: 767px) {
  .container__testimonials .test .test__center .testimonials__review .test__slide p {
    font-size: calc(13px + 5.1 * ((100vw - 320px) / 1140));
  }
}
@media (min-width: 767px) {
  .container__testimonials .test .test__center .testimonials__review .test__slide p {
    font-size: calc(13px + 3 * ((100vw) / 1140));
  }
}
.container__testimonials .test .test__center .testimonials__review .test__slide .reviewer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.container__testimonials .test .test__center .testimonials__review .test__slide .reviewer img {
  padding-bottom: 30px;
  max-width: 100%;
}
.container__testimonials .test .test__center .testimonials__review .test__slide .reviewer h4 {
  padding-bottom: 5px;
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
  color: #000000;
}
@media (max-width: 767px) {
  .container__testimonials .test .test__center .testimonials__review .test__slide .reviewer h4 {
    font-size: calc(16px + 6.8 * ((100vw - 320px) / 1140));
  }
}
@media (min-width: 767px) {
  .container__testimonials .test .test__center .testimonials__review .test__slide .reviewer h4 {
    font-size: calc(16px + 4 * ((100vw) / 1140));
  }
}
.container__testimonials .test .test__center .testimonials__review .test__slide .reviewer span {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  color: #000000;
}
@media (max-width: 767px) {
  .container__testimonials .test .test__center .testimonials__review .test__slide .reviewer span {
    font-size: calc(12px + 6.8 * ((100vw - 320px) / 1140));
  }
}
@media (min-width: 767px) {
  .container__testimonials .test .test__center .testimonials__review .test__slide .reviewer span {
    font-size: calc(12px + 4 * ((100vw) / 1140));
  }
}
.container__testimonials .test .test__center .swiper-pagination-bullet-active {
  background: #8643dc;
}

.blog__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(auto));
  grid-auto-flow: column;
  gap: 27px;
  padding: 7vh 0 10vh 0;
}
.blog__cards .blog__title img {
  width: 40px;
}
.blog__cards .blog__data {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  color: #8643dc;
}
@media (max-width: 767px) {
  .blog__cards .blog__data {
    font-size: calc(12px + 6.8 * ((100vw - 320px) / 1140));
  }
}
@media (min-width: 767px) {
  .blog__cards .blog__data {
    font-size: calc(12px + 4 * ((100vw) / 1140));
  }
}
.blog__cards .blog__data .blog__text {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
}
@media (max-width: 767px) {
  .blog__cards .blog__data .blog__text {
    font-size: calc(16px + 6.8 * ((100vw - 320px) / 1140));
  }
}
@media (min-width: 767px) {
  .blog__cards .blog__data .blog__text {
    font-size: calc(16px + 4 * ((100vw) / 1140));
  }
}
.blog__cards .blog__card-1 {
  max-width: 350px;
  min-width: 250px;
  height: auto;
}
.blog__cards .blog__card-1 .blog__data {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.blog__cards .blog__card-1 img {
  width: 100%;
  padding-bottom: 20px;
}
.blog__cards .blog__card-2 {
  max-width: 350px;
  min-width: 150px;
  height: auto;
  display: grid;
  position: relative;
  transition: 0.6s;
  display: block;
}
.blog__cards .blog__card-2 .blog__data {
  position: absolute;
  padding: 0 4px 30px 20px;
  bottom: 0;
}
.blog__cards .blog__card-2 .blog__data span {
  color: #fff;
}
.blog__cards .blog__card-2 .blog__data p {
  color: #fff;
}
.blog__cards .blog__card-3 {
  max-width: 350px;
  min-width: 150px;
  height: auto;
  position: relative;
  display: grid;
  transition: 0.6s;
}
.blog__cards .blog__card-3 .blog__data {
  position: absolute;
  padding: 0 4px 30px 20px;
  bottom: 0;
}
.blog__cards .blog__card-3 .blog__data span {
  color: #fff;
}
.blog__cards .blog__card-3 .blog__data p {
  color: #fff;
}
.blog__cards .blog__card-2:hover {
  transform: scale(1.1);
}
.blog__cards .blog__card-3:hover {
  transform: scale(1.1);
}

.container__contacts {
  display: flex;
  flex-direction: column;
  gap: 44px;
  padding: 10vh 0 11.5vh 0;
}
.container__contacts .contacts__title {
  padding-bottom: 50px;
}
.container__contacts .contacts__title img {
  width: 40px;
}
.container__contacts .contacts__title .contacts__mail {
  align-items: stretch;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.container__contacts .contacts__title .contacts__mail a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-decoration-line: underline;
  text-transform: lowercase;
  color: #8643dc;
  transition: 0.3s;
}
@media (max-width: 767px) {
  .container__contacts .contacts__title .contacts__mail a {
    font-size: calc(20px + 6.8 * ((100vw - 320px) / 1140));
  }
}
@media (min-width: 767px) {
  .container__contacts .contacts__title .contacts__mail a {
    font-size: calc(20px + 4 * ((100vw) / 1140));
  }
}
.container__contacts .contacts__title .contacts__mail a:hover {
  color: #612da5;
  font-size: 25px;
}
.container__contacts .contacts__message {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.container__contacts .contacts__message .contacts__box {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 45px;
}
.container__contacts .contacts__message .contacts__box .input__box {
  border-bottom: 1px solid #dad2e3;
  position: relative;
}
.container__contacts .contacts__message .contacts__box .input__box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  pointer-events: none;
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  color: #a8a0b0;
  transition: 0.5s;
}
@media (max-width: 767px) {
  .container__contacts .contacts__message .contacts__box .input__box label {
    font-size: calc(16px + 6.8 * ((100vw - 320px) / 1140));
  }
}
@media (min-width: 767px) {
  .container__contacts .contacts__message .contacts__box .input__box label {
    font-size: calc(16px + 4 * ((100vw) / 1140));
  }
}
.container__contacts .contacts__message .contacts__box .input__box input:focus ~ label,
.container__contacts .contacts__message .contacts__box .input__box input:valid ~ label {
  top: -10px;
}
.container__contacts .contacts__message .contacts__box .input__box input {
  width: 100%;
  height: 45px;
  background: transparent;
  border: none;
  outline: none;
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  color: #000;
}
@media (max-width: 767px) {
  .container__contacts .contacts__message .contacts__box .input__box input {
    font-size: calc(16px + 6.8 * ((100vw - 320px) / 1140));
  }
}
@media (min-width: 767px) {
  .container__contacts .contacts__message .contacts__box .input__box input {
    font-size: calc(16px + 4 * ((100vw) / 1140));
  }
}
.container__contacts .contacts__message .contacts__send {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container__contacts .contacts__message .contacts__send .contacts__attach {
  display: flex;
  align-items: center;
}

.footer__nets {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 11.5vh;
}
.footer__nets h2 {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
  text-align: center;
  color: #21232d;
  padding-bottom: 4vh;
}
@media (max-width: 767px) {
  .footer__nets h2 {
    font-size: calc(25px + 18.7 * ((100vw - 320px) / 1140));
  }
}
@media (min-width: 767px) {
  .footer__nets h2 {
    font-size: calc(25px + 11 * ((100vw) / 1140));
  }
}
.footer__nets .footer__icons {
  display: flex;
  gap: 40px;
  padding-bottom: 7vh;
}
.footer__nets .footer__icons a {
  transition: 0.3s;
}
.footer__nets .footer__icons a:hover {
  transform: scale(1.1);
}

@media (max-width: 1140px) {
  .container {
    max-width: 970px;
    padding: 50px 25px;
  }
  .container .portfolio__cards {
    align-items: center;
    justify-content: center;
  }
  .container .services__cards {
    flex-wrap: wrap;
  }
  .container .footer__icons {
    padding-bottom: 3vh;
  }
  .container .hero__photo :first-child {
    right: 40px;
    top: -150px;
    width: 440px;
  }
  .container .hero__photo img:nth-child(2),
  .container .hero__photo img:nth-child(3),
  .container .hero__photo img:nth-child(4),
  .container .hero__photo img:nth-child(5),
  .container .hero__photo img:nth-child(6),
  .container .hero__photo img:nth-child(7),
  .container .hero__photo img:nth-child(8),
  .container .hero__photo img:nth-child(9),
  .container .hero__photo img:nth-child(10),
  .container .hero__photo img:nth-child(11) {
    display: none;
  }
  .container .hero__photo img:nth-child(12) {
    right: 25px;
    top: -70px;
    width: 652px;
  }
  .container .nav {
    margin-top: -10vh;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 750px;
    padding: 95px 40px;
  }
  .container .nav {
    margin-top: -10vh;
  }
  .container .test__left,
  .container .test__right {
    display: none;
  }
  .container .footer__icons {
    padding-bottom: 2vh;
  }
  .container .blog__cards {
    justify-content: center;
    grid-auto-flow: row;
    display: flex;
    flex-wrap: wrap;
  }
  .container .hero__photo :first-child {
    right: -15px;
    top: -110px;
    width: 320px;
  }
  .container .hero__photo img:nth-child(12) {
    right: -75px;
    top: -110px;
    width: 532px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: none;
    padding: 55px 20px;
  }
  .container .nav {
    margin-top: -12.5vh;
  }
  .container .nav__links a {
    display: none;
  }
  .container .blog__title,
  .container .services__title,
  .container .clients__title,
  .container .testimonials__title,
  .container .blog__title {
    text-align: center;
    align-items: center;
  }
  .container .hero__photo :first-child {
    right: 75px;
    top: -175px;
    width: 250px;
  }
  .container .hero__photo img:nth-child(12) {
    display: none;
  }
}
@media (max-width: 530px) {
  .container .blog__card-2 img, .container .blog__card-3 img {
    width: 400px;
    height: 250px;
  }
}
@media (max-width: 460px) {
  .container .hero__photo :first-child {
    right: 25px;
    top: -160px;
    width: 225px;
  }
}/*# sourceMappingURL=style.css.map */
